/*PAGE SETUP*/
    body{
        background-image: linear-gradient(#FFCD63, #FF7373, #879EFF);
        color: black;
        font-family: 'epilogue', sans-serif;
        margin: auto;
        padding: auto;
        width: 75%;
        font-size: var(--body-copy);
        line-height: var(--body-copy-line-height);
        cursor: url(‘../images/clock.png’), auto;
    }

    .intro{
        margin-top: 50px;
    }

/*LINKS*/
    a{
        color: blue;
        text-decoration: underline;
    }
    
    a::visited{
        color: blue;
        text-decoration: underline;
    }

/*MAIN HEADING*/
    h1{
        font-size: var(--main-heading);
        line-height: var(--main-heading-line-height);
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 20px;
    }

/*LINE*/
.line{
        border-top: 2px solid;
        margin-top: 20px;
        margin-bottom: 50px;
}

/*SUB HEADING*/
    h4{
        font-size: var(--sub-heading);
        margin-bottom: 20px;
    }

/*FLEX BOXES*/
    /*FLEX BOX 1*/
    .partone {
        display: flex;
        padding-bottom: 50px;
    }

    .footnotes{
        flex: 30%;
        font-size: var(--footnote);
        line-height: var(--footnote-spacing);
    }

    .footnotes p{
        margin-bottom: 20px;
    }

    .paragraphone p{
       margin-right: 30px;
       margin-bottom: 10px;
    }

    /*FLEX BOX 2*/
    .parttwo{
        display: flex;
        padding-bottom: 50px;
    }

    .paragraphtwo p{
        margin-left: 50px;
        margin-bottom: 10px;
     }

    /*FLEX BOX 3*/
        .partthree{
            display: flex;
            padding-bottom: 50px;
        }

        /*FLEX BOX 4*/
            .partfour{
                display: flex;
                padding-bottom: 50px;
            }

        /*FLEX BOX 5*/
        .partfive{
            display: flex;
            padding-bottom: 50px;
        }

        /*FLEX BOX 6*/
            .partsix{
                display: flex;
                padding-bottom: 50px;
            }

        /*FLEX BOX 7*/
        .partseven{
            display: flex;
            padding-bottom: 150px;
        }

    /*IMAGES*/

    .one{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .two{
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }