body{
    cursor: url(../icons/editors.png), auto;
    background-image: linear-gradient(#ECE9E6, #FFFFFF);
    color: black;
    font-family: 'epilogue', sans-serif;
    margin: auto;
    padding: auto;
    width: 75%;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

.intro{
    margin-top: 50px;
}

/*ARROW*/
.sticky {
    position: sticky;
    top: 0;
    float: left;
    margin-left: -155px;
    padding-top: 4vw;
    font-size: 8vw;
} 

.sticky a{
    color: black;
    text-decoration: none;
}

a.sticky:visited{
    color: black;
    text-decoration: none;
}

.sticky:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
}

/*LINE*/
.line{
    border-top: 2px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*LINKS*/
a{
    color: blue;
    text-decoration: underline;
}

a::visited{
    color: blue;
    text-decoration: underline;
}

/*MAIN HEADING*/
h1{
    font-size: 117px;
    line-height: var(--main-heading-line-height);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

h4{
    font-size: var(--sub-heading);
    margin-bottom: 20px;
}

/*BODY TEXT*/
.para{
    width: 70%;
}
p{
    margin-bottom: 30px;
}

h5{
    font-weight: bold;
    margin-bottom: 10px;
}

h6{
    font-size: var(--body-copy);
    font-weight: bold;
}

.details{
    width: 70%;
    font-style: italic;
    margin-bottom: 150px;
}

.linetwo{
    border-top: 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
}

.firstline{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 30px;
}

.firstline p{
    margin-bottom: 0px;
}

.secondline{
    display: flex;
    width: 70%;
    margin-bottom: 150px;
}

.titleend h6{
    margin-right: 40px;
}

.contentend{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentend p{
    margin-right: 20px;
    margin-bottom: 0px;
}

@media screen and (max-width: 500px ) {
    body{
        margin: auto;
        padding: auto;
        width: 80%;
    }
    
    .line{
        margin-bottom: 20px;
    }

    h1{
        font-size: calc(var(--body-copy)*3.5);
        line-height: calc(var(--body-copy-line-height)*2.5);
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .intro{
        margin-top: 30px;
        font-size: 15px;
    }

    .para{
        width: 100%;
    }

    .details{
        width: 100%;
    }
}
