body{
    cursor: url(../icons/anna.png), auto;
    background-image: linear-gradient(#ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    color: black;
    font-family: 'epilogue', sans-serif;
    margin: auto;
    padding: auto;
    width: 75%;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

.intro{
    margin-top: 50px;
}

/*ARROW*/
.sticky {
    position: sticky;
    top: 0;
    float: left;
    margin-left: -155px;
    padding-top: 4vw;
    font-size: 8vw;
} 

.sticky a{
    color: black;
    text-decoration: none;
}

a.sticky:visited{
    color: black;
    text-decoration: none;
}

.sticky:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
}

/*MAIN HEADING*/
h1{
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*SUB HEADING*/
h4{
    font-size: var(--sub-heading);
    margin-bottom: 20px;
}

/*LINE*/
.line{
    border-top: 2px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

.linetwo{
    border-top: 1px dotted;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*LINKS*/
a{
    color: blue;
    text-decoration: underline;
}

a::visited{
    color: blue;
    text-decoration: underline;
}

/*FLEX BOX*/
.content{
    display: flex;
    margin-bottom: 150px;
    margin-top: 50px;
}

.maintext{
    width: 70%;
    margin-right: 30px;
}

.footnotes{
    display: inline-block;
    width: 30%;
    font-size: var(--footnote);
    line-height: var(--footnote-spacing);
}

.footnotes p{
    margin-bottom: 30px;
}

/*TITLES*/
h3{
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

/*BODY TEXT*/

h2{
    font-size: var(--sub-heading);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

h2 p{
    font-size: var(--sub-heading);
    line-height: var(--sub-heading-line-height);
}

p{
    margin-bottom: 10px;
}

ul{
    margin-left: 100px;
    margin-bottom: 50px;
}

li{
    margin-bottom: 20px;
}

h5{
    font-size: var(--body-copy);
    font-weight: bold;
    margin-bottom: 10px;
}

.halftwo h5{
    margin-top: 50px;
}

.maintext h2{
    margin-top: 50px;
}

h6{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

/*BULLET POINTS*/
li{
    list-style: none;
}

li::before{
    content: "\2192";
    margin-right: 10px;
}

@media screen and (max-width: 500px ) {
    body{
        margin: auto;
        padding: auto;
        width: 80%;
    }
    
    .line{
        margin-bottom: 20px;
    }

    h1{
        font-size: calc(var(--body-copy)*2.6);
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .content{
        flex-direction: column;
    }

    .maintext{
        margin-top: 0;
        width: 100%;
    }

    .footnotes{
        width: 100%;
        margin-top: 30px;
    }
    
    .intro{
        margin-top: 30px;
        font-size: var(--body-copy);
    }

    ul{
        margin-left: 0px;
    }

    li{
        margin-left: 0px;
    }

    .linetwo{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
