/*PAGE SETUP*/
body{
    cursor: url(../icons/ria.png), auto;
    background-image: linear-gradient(#232526, #414345);
    color: white;
    font-family: 'epilogue', sans-serif;
    margin: auto;
    padding: auto;
    width: 75%;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

.intro{
    margin-top: 50px;
}

/*ARROW*/
.sticky {
    position: sticky;
    top: 0;
    float: left;
    margin-left: -155px;
    padding-top: 4vw;
    font-size: 8vw;
} 

.sticky a{
    color: white;
    text-decoration: none;
}

a.sticky:visited{
    color: white;
    text-decoration: none;
}

.sticky:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
}

/*FLEX BOX*/
.content{
    display: flex;
    margin-bottom: 150px;
}

.bodytext{
    width: 70%;
    margin-right: 40px;
}

.footnotes{
    width: 30%;
    font-size: var(--footnote);
    line-height: var(--footnote-spacing);
}

.footnotes p{
    margin-bottom: 40px;
}

/*MAIN HEADING*/
h1{
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*SUB HEADING*/
h4{
    font-size: var(--sub-heading);
    margin-bottom: 20px;
}

/*LINE*/
.line{
    border-top: 2px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*LINKS*/
a{
    color: rgb(37, 37, 252);
    text-decoration: underline;
}

a::visited{
    color: rgb(37, 37, 252);
    text-decoration: underline;
}

/*TITLES*/
h6{
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    font-weight: bold;
}

/*BODY TEXT*/

p{
    margin-bottom: 10px;
}

ul{
    margin-left: 100px;
    margin-bottom: 50px;
}

li{
    margin-bottom: 20px;
}

h5{
    font-size: var(--body-copy);
    text-decoration: underline;
}

/*TOP MARGIN EXCEPT TITLE 1*/
.revert h6{
    margin-top: 30px;
}

/*IMAGES*/
.bereal{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

figcaption{
    width: 80%;
}

/*BULLET POINTS*/
li{
    list-style: none;
}

li::before{
    content: "\2192";
}