/* SETUP FOR TYPOGRAPHY */
:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.5);

    --main-heading: calc(var(--body-copy)*8);
    --main-heading-line-height: calc(var(--main-heading));

    --hover-text: 17px;
    --hover-text-line-height: calc(var(--hover-text)*1.4);

    --sub-heading: 22px;
    --sub-heading-line-height: calc(var(--sub-heading));

    --title: 14px;
    --title-line-height: calc(var(--title));

    --footnote: 11px;
    --footnote-spacing: calc(var(--footnote)*1.5);
}

/* PAGE SETUP */
body{
    margin: 0;
    background-color: #333;
}

/* FONTS */
@font-face {
    font-family: 'epilogueitalic';
    src: url('epilogue-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('epilogue-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
}
@font-face {
    font-family: 'epilogueregular';
    src: url('epilogue-variablefont_wght-webfont.woff2') format('woff2'),
         url('epilogue-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GRID STYLES */
.grid{
    --gap: 16px;
	--num-cols: 4;
	--row-height: 270px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.grid > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HOVER STYLE */
.reeva {
    position: relative;
}

.hover{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.text{
    font-size: var(--hover-text);
    line-height: var(--hover-text-line-height);
    font-family: 'epilogue', sans-serif;
    color: black;
    background-color: white;
    margin:60px;
    padding: 10px;
    text-align: center;
}

.hover:hover{
    opacity: 1;
}

/* NAME */
.one {
    border-radius: 0% 30% 50% 70%;
}

/* NAME */
.two {
    border-radius: 0% 50% 0% 0%;
}

/* NAME */
.three {
    border-radius: 20% 20% 20% 20%;
}

/* NAME */
.four {
    border-radius: 0% 20% 60% 20%;
}

/* NAME */
.five {
    border-radius: 50% 0% 50% 0%;
}

/* REEVA */
.six {
    border-radius: 0% 0% 70% 70%;
}

.reeva:hover{
    transform: scale(1.15);
    transition: transform .5s ease;
}

/* NAME */
.seven {
    border-radius: 0% 80% 0% 40%;
}

/* RIA */
.eight {
    border-radius: 0% 0% 0% 50%;
}

.ria:hover{
    transform: scale(1.15);
    transition: transform .5s ease;
}

/* NAME */
.nine {
    border-radius: 0% 70% 70% 0%;
}

/* NAME */
.ten {
    border-radius: 0% 0% 30% 30%;
}

/* NAME */
.eleven {
    border-radius: 20% 20% 20% 20%;
    grid-column: span 2;
}


/*SCREENS UNDER 1024PX*/
@media screen and (max-width: 1024px ) {
    .grid{
        --num-cols: 2;
        --row-height: 200px;
    }
}

/*SCREENS UNDER 500PX*/
@media screen and (max-width: 500px ) {
    .grid{
        --num-cols: 2;
        --row-height: 100px;
    }
}