/* SETUP */
body{
    margin: 0;
}
/* FONTS */
@font-face {
    font-family: 'epilogueitalic';
    src: url('epilogue-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('epilogue-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'epilogueregular';
    src: url('epilogue-variablefont_wght-webfont.woff2') format('woff2'),
         url('epilogue-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GRID STYLES */
.grid{
    --gap: 16px;
	--num-cols: 5;
	--row-height: 250px;

	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
    width: 100vw;
    height: 100vh;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
    background-color: blue;
}
.container{
    display: grid;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*SCREENS UNDER 1024PX*/
@media screen and (max-width: 1024px ) {
    .grid{
        --num-cols: 2;
        --row-height: 200px;
    }
}

/*SCREENS UNDER 500PX*/
@media screen and (max-width: 500px ) {
    .grid{
        --num-cols: 2;
        --row-height: 100px;
    }
}