body{
    cursor: url(../icons/carolina.png), auto;
    background-image: linear-gradient(#f953c6, #b91d73);
    color: black;
    font-family: 'epilogue', sans-serif;
    margin: auto;
    padding: auto;
    width: 75%;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

.intro{
    margin-top: 50px;
}

/*ARROW*/
.sticky {
    position: sticky;
    top: 0;
    float: left;
    margin-left: -155px;
    padding-top: 4vw;
    font-size: 8vw;
} 

.sticky a{
    color: black;
    text-decoration: none;
}

a.sticky:visited{
    color: black;
    text-decoration: none;
}

.sticky:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
}

/*LINE*/
.line{
    border-top: 2px solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*LINKS*/
a{
    color: blue;
    text-decoration: underline;
}

a::visited{
    color: blue;
    text-decoration: underline;
}

/*MAIN HEADING*/
h1{
    font-size: 117px;
    line-height: var(--main-heading-line-height);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

h4{
    font-size: var(--sub-heading);
    margin-bottom: 20px;
}

h5{
    font-size: var(--carolina-heading);
    line-height: var(--carolina-heading-spacing);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 100px;
}

.first h5{
    margin-top: 50px;
}

h6{
    font-size: var(--sub-heading);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.end p{
    font-size: var(--sub-heading);
    width: 70%;
    line-height: 35px;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*VIDEO*/

video{
    width: 70%;
    height: auto;
    margin-right: 40px;
}

/*FLEXBOXES*/
.instruction{
    display: flex;
}
.second{
    display: flex;
}

.pawns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.note{
    width: 50%;
}

.scan{
    display: flex;
}

.photo{
    width: 70%;
    margin-right: 30px;
}

.brief{
    width: 30%;
    padding-top: 25px;
}

.sketches{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.sketches img{
    margin-bottom: 10px;
}

@media screen and (max-width: 500px ) {
    body{
        margin: auto;
        padding: auto;
        width: 80%;
    }
    
    .line{
        margin-bottom: 20px;
    }

    h1{
        font-size: calc(var(--body-copy)*4.5);
        line-height: calc(var(--body-copy-line-height)*3);
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .intro{
        margin-top: 30px;
        font-size: 15px;
    }

    h5{
        font-size: 35px;
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .instruction{
        flex-direction: column;
    }

    video{
        width: 100%;
        margin-bottom: 30px;
    }

    .note{
        width: 100%;
        margin-top: 0;
    }

    .scan{
        flex-direction: column;
    }

    .photo{
        width: 100%;
    }

    .brief{
        width: 100%;
    }

    .pawns{
        margin-bottom: 50px;
    }

    .end p{
        width: 100%;
        margin-top: 30px;
    }

    .sketches img{
        width: 100%;
    }

}